.DiaryItem {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.DiaryItem .img_section {
  cursor: pointer;
  min-width: 70px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .img_section_1 {
  background-color: #8fd5a8;
}

.DiaryItem .img_section_2 {
  background-color: #b5e68b;
}

.DiaryItem .img_section_3 {
  background-color: #f4e36b;
}

.DiaryItem .img_section_4 {
  background-color: #f9be85;
}

.DiaryItem .img_section_5 {
  background-color: #f7a5a5;
}

.DiaryItem .img_section_6 {
  background-color: #8ae3d0;
}

.DiaryItem .img_section_7 {
  background-color: #98c9db;
}

.DiaryItem .img_section_8 {
  background-color: #8ba7d1;
}

.DiaryItem .img_section_9 {
  background-color: #a986c9;
}

.DiaryItem .img_section_10 {
  background-color: #b68ed5;
}

.DiaryItem .img_section_11 {
  background-color: #f0a6a6;
}

.DiaryItem .img_section_12 {
  background-color: #f0acc7;
}

.DiaryItem .img_section_13 {
  background-color: #f1b6a2;
}

.DiaryItem .img_section_14 {
  background-color: #f0d1d1;
}

.DiaryItem .img_section_15 {
  background-color: #d9d9d9;
}

.DiaryItem .img_section img {
  width: 70%; 
  object-fit: contain; 
}

.DiaryItem .info_section {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}

.DiaryItem .info_section .date_wrapper {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.DiaryItem .info_section .content_wrapper {
  font-size: 18px;
}

.DiaryItem .button_section {
  min-width: 70px;
}


@media (max-width: 768px) {
  .DiaryItem {
    flex-direction: row;
    align-items: center;
  }

  .DiaryItem .img_section {
    width: 60px;
    height: 60px; 
    margin-right: 10px; 
  }

  .DiaryItem .img_section img {
    width: 90%; 
    object-fit: contain;
  }

  .DiaryItem .info_section {
    flex-grow: 1; 
    margin-left: 10px;
  }

  .DiaryItem .info_section .date_wrapper {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .DiaryItem .info_section .content_wrapper {
    font-size: 16px;
  }

}
